@inherits LayoutComponentBase
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Authorization

<Preload LoadingText="Loading..." />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name
                    <a href="/logout" class="ml-md-auto">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login" class="ml-md-auto">Login</a>
                </NotAuthorized>
            </AuthorizeView>

            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Toasts class="p-3" AutoHide="true" Delay="3000" Placement="ToastsPlacement.TopRight" />
